@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Hand:wght@400..700&display=swap');
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-my-eduhand: "Edu SA Hand", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-eduhand: var(--font-my-eduhand);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mansalva);
}

.paper-bg {
  background-image: url('/imgs/paperpattern.png');
  background-repeat: repeat;
}

.sticker {
  background-image: var(--sticker-img);
  background-size: cover;
  filter: drop-shadow(5 5 10 rgba(0, 0, 0, 0.3));
}

.icon {
  background-image: var(--icon-img);
  background-size: cover;
  filter: drop-shadow(5 5 10 rgba(0, 0, 0, 0.3));
}


.bg-img {
  background-image: var(--bg-img);
  background-repeat: repeat;
}

.grab {
  cursor: grab;
}

.grab:active {
  cursor: grabbing;
  z-index: 1;
}


/* fonts */
.edu-sa-hand-regular {
  font-family: "Edu SA Hand", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
